/* ---variables--- */
:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --font: 'Rubik', sans-serif;
}
/* --- Reset --- */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
/* ----Base styles----- */
body {
  background-color: var(--secondary);
  overflow-x: hidden;
  font-family: var(--font);
}

.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  border-radius: 20px;
  padding: 6px 12px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  background-color: var(--primary);
  color: #222;
}

input,textarea {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  padding: 10px 16px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
}
/* ------Fonts -------- */
h1,h2,h3,h4 {
  color: #dddbff;
  font-weight: normal;
}
p,li,a {
  color: #9893d8;
}
h1,h3 {
  font-size: 1.2rem;
  /* text-align: center; */
}
h2 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.1rem;
}
.leading {
  font-size: 1.1rem;
}

/* ------ mobile styles ------ */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.site-nav {
  margin: 5px 20px;
}
.site-nav li {
  display: none;
}
.site-nav h1 {
  grid-column: 1/6;
  grid-row: 1;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--primary);
}

#welcome {
  padding: 0 20px 20px 20px;
}
.welcome-text{
  grid-column: 1/4;
}
.welcome-img {
  grid-column: 4/8;
}
.welcome-img img {
  width: 200%;
}
.welcome-text a{
  margin: 20px 0;
}
 /* small tablet styles */
 @media screen and (min-width: 620px) {
   
 }

 /* --- large tablets and labtop styles --- */
 @media screen and (min-width: 960px) {

 }

 /* -----Desktop styles------ */
 @media screen and (min-width: 1200px) {

 }