* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f1f5f8;
  line-height: 2.2;
  font-size: .875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.1);
}


.fa-bars {
  font-size: 1.5rem;
  color: #08193bde;
  cursor: pointer;
}
.fa-bars:hover {
  color: black;
}


.nav-list a {
  display: block;
  letter-spacing: 0.1rem;
  color: gray;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.nav-list a:hover {
  background-color: #f8a5a5;
  color: #e94949;
  padding-left: 1.5rem;
}

.nav-list {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-nav-list {
  height: auto;
}

.nav-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

@media (min-width:800px) {

  .nav-main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
    margin: 0 .5rem;
  }
  .fa-bars {
    display: none;
  }

  .nav-list {
    display: flex;
    height: auto;
    
  }
  .nav-list a {
    padding: 0;
    margin: 0 .8rem;
  }
  .nav-list a:hover {
    padding: 0;
    background: transparent;
    border-bottom: 1px solid #333;
  }
}